body{
    background-color: darkorange;
    margin: 8%;
    padding: 9%;
    text-align: center;
    text-shadow: 2px 3px 4px ;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table tr  {
    text-align: center;
}